<div style="position: fixed; top: 75px; left: -225px; width: 600px; padding: 10px; font-size: 24px; text-align: center; color: white; font-family: 'trebuchet ms', verdana, arial, sans-serif;transform: rotate(-45deg);transform-origin: 50% 0px;-o-transform: rotate(-45deg); -o-transform-origin: 50% 0px;-moz-transform: rotate(-45deg); -moz-transform-origin: 50% 0px; -webkit-transform: rotate(-45deg); -webkit-transform-origin: 50% 0px; background-color: Transparent; border: 1px solid rgb(170, 170, 170); z-index: 9999; opacity: 0.5;"><a href="https://t.me/drugsluxury" style="text-decoration:none;color:white;">VANNQUOCISME</a></div>
<div class="stars">
  <center>
    <h1>VANNQUOCISME | HOMEPAGE</h1>
  </center>
</div>
<div class="twinkling">
  <center><br><br><br>
    <img src="https://i.ibb.co/jkVQ8DR/407-C34-FA-5-DD3-4-BF8-A1-A2-75-C36-EE2-DE17.png" width="250"/><br>
    <div class="container">
      <div class="text"></div>
    </div><br><br><br>
    <font face="Sarpanch" color="white" size"10" class="message">
      |&nbsp;  Le Van Quoc =)) <font color="red">Follow </font>MonLeoHayKhok on Telegram&nbsp;  |
    </font><br>
    <font face="Sarpanch" color="white" size"10" class="message">Visit Website: VanQuocIs.ME  <font color="red">.</font><br><br>
    <font face="Play">
      <p class="we-are"><b>Le Van Quoc <font color="cyan">!<font color="white">:</b></p>
    </font>

  </center>
</div>
<div class="clouds">
</div>
<iframe width="1" height="1" src="https://m.youtube.com/watch?v=mTx8Tv8KrFI&autoplay=1" frameborder="0" allowfullscreen></iframe>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
